body {
    background-image: url('images/bus-g358e5d812_640.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1367px 800px;
}
nav.nav-bar{
    background-color: #00001a;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: UPPERCASE;
    font-size: 110%;
    display:inline;
}
li {
    float: left;
    width: 225px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: gray;
}
div.none{
    display: none;
}
.inline:hover .none{
    display: block;
    background-color: black;
}
input[type="password"]{
    height: 25px;
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}
span.span{
    font-size: larger;
    color: black;
    font-weight: 800;
}
form{
    text-align: left;
}
.form{
    margin: 15px 0px 0px 560px;
}
input[type="submit"] {
    width: 90px;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px 0px 0px 136px;
}