body {
    background-image: url('images/auto-2583303_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1366px 790px;
}
nav.nav-bar{
    background-color: #778899;
    height: 50px;
}
.row{
    margin: -65px 0px 0px 110px;
    height: 175px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: UPPERCASE;
    font-size: 110%;
    display: inline;
}
li {
    float: left;
    width: 225px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.active{
    background-color:#111;
}
div.none{
    display: none;
}
.inline:hover .none{
    display: block;
    background-color: black;
}
.form-group{
    margin: 15px 0px 15px 0px;
}
h2{
    margin: 150px 0px 0px 125px;
}