body {
  background-image: url('images/auto-2583303_1920.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 1366px 790px;
}
nav.nav-bar{
  background-color: #778899;
  height: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-transform: UPPERCASE;
  font-size: 110%;
  display: inline;
}
li {
  float: left;
  width: 225px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active{
  background-color:#111;
}
div.none{
  display: none;
}
.inline:hover .none{
  display: block;
  background-color: black;
}
.none:hover .inline{
  background-color: black;
}

/*Table*/
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-color: inherit;
    border-style: solid;
    margin-top: 35px;
  }
          
  td, th {
    border: 1px solid #A9A9A9;
    text-align: left;
    padding: 8px;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  /*Button used to open the contact form - fixed at the bottom of the page*/
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /*The popup form - hidden by default*/
  div#myForm{
    display: none;
    position: fixed;
    top: 200;
    left: 591;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  .popup{
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items:center;
      display: none;
  }
  .popup-content{
      height: 500px;
      width: 500px;
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      position: relative;
      overflow: scroll;
  }
  .close{
      position: absolute;
      top: 2px;
      right: 1px;
      display: block;
      width: 10px;
      background: white;
      padding: 8px;
      border: 1px solid gray;
      border-radius: 50px;
      cursor: pointer;
  }
  .form-class {
      width: 500px;
      height:950px;
      margin: 150px 0px 100px 490px;
  }
  form#userform{
      padding: 0px 0px 0px 25px;
  }
  #inputAddress{
    width: 85.5%;
    height: 50px;
    background-color: white;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .address {
      width: 69.5%;
      height: 35px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: white;
  }
  #birthday {
      width: 55.5%;
      height: 35px;
      background-color: white;
      display: inline;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-transform: UPPERCASE;
  }
  .form-group {
      margin: 20px 0px 20px 0px;
      font-size: larger;
      text-align: left;
  }
  .formbutton {
      margin: 20px 0px 20px 0px;
      font-size: larger;
      text-align: left;
      height: 60px;
  }
  input[type=file] {
      padding: 4px 0px 4px 3px;
      width: 84%;
      height: 30px;
      border: 1px solid beige;
      border-radius: 3px;
  }
  .formph {
    width: 67.5%;
    height: 35px;
    background-color: white;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  select#formph{
      height: 35px;
      width: 65px;
      background-color: white;
      display: inline;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  #user-id{
      height: 34px;
      width: 58.5%;
  }
  input#First_Name {
      width: 59.5%;
      height: 35px;
      border: 1px solid #ccc;
      border-radius: 3px;
  }
  #Last_Name{
      height: 34px;
      width: 59.5%;
      border: 1px solid #ccc;
      border-radius: 3px;
  }
  #Email{
      height: 34px;
      width: 59.5%;
      border: 1px solid #ccc;
      border-radius: 3px;
  }
  #sub-btn {
      width: 25%;
      height: 35px;
      margin: 30px 0px 0px 67px;
  }
  #can-btn {
      width: 25%;
      height: 35px;
      margin: 30px 67px 0px 0px;
  }
  .form-check{
      height: 150px;
  }
  button#update-btn{
      height: 25%;
      width: 25%;
      margin: 55px 0px 0px 245px;
      border-radius: 5px;
  }
  form.form-container{
      margin: 0px 0px 0px 75px;
  }
  <!-- Add some hover effects to buttons 
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }-->
  div.buttoncontainer{
    position: relative;
    left: 1200px;
    top: 150px;
    width: 150px;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid;
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
  }
  